/* Set body styles */
body {
    background-color: rgba(255, 255, 255, 0.912); /* Background color with alpha transparency */
    font-family: Arial, sans-serif; /* Font family for the entire page */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    text-align: center; /* Center-align text */
}

/* Styling for the game container */
.game-container {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange children vertically */
    align-items: center; /* Center content horizontally */
}

/* Styling for the game title */
h1 {
    color: #333; /* Text color */
    font-size: 70px; /* Font size */
}

/* Styling for paragraphs */
p {
    font-size: 40px; /* Font size */
    color: #333; /* Text color */
}

/* Styling for all buttons */
button {
    font-size: 50px; /* Font size */
    cursor: pointer; /* Show pointer cursor on hover */
}

/* Styling for the choices container */
.choices {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center choices horizontally */
    gap: 20px; /* Space between buttons */
    margin-bottom: 20px; /* Space below the choices */
}

/* Styling for choice buttons */
#choice-btn {
    background-color: rgba(221, 255, 0, 0.004); /* Background color with alpha transparency */
    font-size: 3rem; /* Larger font size */
    border-radius: 50%; /* Make button round */
    padding: 20px; /* Padding inside the button */
    width: 150px; /* Fixed width for buttons */
    height: 150px; /* Fixed height for buttons */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1); /* Add box shadow for depth */
}
/* Styling for the reset container */
.reset-container {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center choices horizontally */
    gap: 20px; /* Space between buttons */
    margin-bottom: 20px; /* Space below the choices */
}


/* Styling for the game result display */
#result {
    font-size: 40px; /* Font size */
    margin-top: 20px; /* Top margin */
}